.row {
    zoom: 1;
}
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col-fr {
    display: block;
    float: right;
}
.col-fl {
    display: block;
    float: left;
}

.col-mr {
    margin: 0 1.6% 1% 0;
}
.col-fr.col-mr:first-child { margin-right: 0; }

.span-1-of-3 {
    width: 32.26%;
}
.span-2-of-3 {
    width: 66.13%;
}
.span-3-of-3 {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .span-1-of-3 {
        width: 100%;
    }
    .span-1-of-3.col-mr {
        margin: 0;
    }
    .span-2-of-3 {
        width: 100%;
    }
    .span-2-of-3.col-mr {
        margin: 0;
    }
}
