@import url('./Core/grid.css');
@import url('./Core/normalize.css');
@import url('./Core/form.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Arial, sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

ul {

}

.container {
  max-width: 1024px;
  margin: 0 auto;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  padding: 0 30px;
}

.bordered {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 15px;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

/* headings */
h1, h2, h3 {
  font-weight: 300;
}

h1 {
  margin: 0 0 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  margin: 0 0 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* Header */

header {
  text-align: center;
  padding: 20px 0;
}

section {
}

/* new-post */
.new-post {
  margin: 0 0 15px;
}

/* blog */
.post {
  margin: 0 0 15px;
}

.post-title {
  float: left;
}

.post-date {
  float: right;
}
.blog-thumb {
  float: left;
  padding: 0 15px 15px 0;
  width: 150px;
}

/* popular tags */
.popular-tags {
}
.popular-tags ul {
  padding: 0 0 0 30px;
}

@media only screen and (max-width: 1024px) {
  .popular-tags.bordered {
    border: none;
    padding-top: 0;
    padding-left: 0;
  }

  .tags-title {
    display: block;
    float: left;
  }

  .popular-tags ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popular-tags ul li {
    margin: 0;
    padding: 0;
    display: inline;
  }
  .popular-tags ul li:after {
    content: ', ';
  }
  .popular-tags ul li:last-child:after {
    content: '' !important;
  }

}
